---
import ProductionCard from './ProductionCard.astro';
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-12 justify-items-center">
	
	<!-- 1. Funky Thierry - Anniversaire Adulte -->
	<ProductionCard 
		audioId="1"
		title="Funky Thierry"
		genre="Funk"
		duration="4:18"
		tag="Anniversaire Adulte"
		tagColor="anniversaire-adulte"
		audioSrc="/music/funky-thierry.wav"
		audioType="wav"
		coverClosed="/images/covers/funky-thierry-closed.png"
		coverOpened="/images/covers/funky-thierry-opened.png"
		useCaseUrl="/cas-usage/funky-thierry"
	/>

	<!-- 2. Titres Français - Entreprise -->
	<ProductionCard 
		audioId="2"
		title="Titres Français"
		genre="Rap"
		duration="4:12"
		tag="Entreprise"
		tagColor="entreprise"
		audioSrc="/music/titres-francais.mp3"
		audioType="mp3"
		coverClosed="/images/covers/titres-francais-closed.png"
		coverOpened="/images/covers/titres-francais-opened.png"
		useCaseUrl="/cas-usage/titres-francais"
	/>

	<!-- 3. Raph King - Anniversaire Enfant -->
	<ProductionCard 
		audioId="3"
		title="Raph King"
		genre="Rap"
		duration="2:48"
		tag="Anniversaire Enfant"
		tagColor="anniversaire-enfant"
		audioSrc="/music/raph-king.mp3"
		audioType="mp3"
		coverClosed="/images/covers/raph-king-closed.png"
		coverOpened="/images/covers/raph-king-opened.png"
		useCaseUrl="/cas-usage/raph-king"
	/>

	<!-- 4. Campus Des Écoles - Entreprise -->
	<ProductionCard 
		audioId="4"
		title="Campus Des Écoles"
		genre="Hymne Éducatif"
		duration="3:45"
		tag="Entreprise"
		tagColor="entreprise"
		audioSrc="/music/campus-des-ecoles.mp3"
		audioType="mp3"
		coverClosed="/images/covers/campus-des-ecoles-closed.png"
		coverOpened="/images/covers/campus-des-ecoles-opened.png"
		useCaseUrl="/cas-usage/campus-des-ecoles"
	/>

	<!-- 5. Vanina - Anniversaire Adulte -->
	<ProductionCard 
		audioId="5"
		title="Vanina"
		genre="Indie Folk"
		duration="3:45"
		tag="Anniversaire Adulte"
		tagColor="anniversaire-adulte"
		audioSrc="/music/vanina.mp3"
		audioType="mp3"
		coverClosed="/images/covers/vanina-closed.png"
		coverOpened="/images/covers/vanina-opened.png"
		useCaseUrl="/cas-usage/vanina"
	/>

	<!-- 6. Levehad Am Ehad - Association -->
	<ProductionCard 
		audioId="6"
		title="Levehad Am Ehad"
		genre="Traditional"
		duration="3:47"
		tag="Association"
		tagColor="association"
		audioSrc="/music/levehad-am-ehad.mp3"
		audioType="mp3"
		coverClosed="/images/covers/levehad-am-ehad-closed.png"
		coverOpened="/images/covers/levehad-am-ehad-opened.png"
		useCaseUrl="/cas-usage/levehad-am-ehad"
	/>

	<!-- 7. Ma Mychelle - Anniversaire Enfant -->
	<ProductionCard 
		audioId="7"
		title="Ma Mychelle"
		genre="Folk"
		duration="2:28"
		tag="Anniversaire Enfant"
		tagColor="anniversaire-enfant"
		audioSrc="/music/ma-mychelle.mp3"
		audioType="mp3"
		coverClosed="/images/covers/ma-mychelle-closed.png"
		coverOpened="/images/covers/ma-mychelle-opened.png"
		useCaseUrl="/cas-usage/ma-mychelle"
	/>

	<!-- 8. Change Les Règles - Entreprise -->
	<ProductionCard 
		audioId="8"
		title="Change Les Règles"
		genre="Hip-Hop Engagé"
		duration="3:28"
		tag="Entreprise"
		tagColor="entreprise"
		audioSrc="/music/change-les-regles.mp3"
		audioType="mp3"
		coverClosed="/images/covers/change-les-regles-closed.png"
		coverOpened="/images/covers/change-les-regles-opened.png"
		useCaseUrl="/cas-usage/change-les-regles"
	/>

	<!-- 9. Aby Princess - Anniversaire Enfant -->
	<ProductionCard 
		audioId="9"
		title="Aby Princess"
		genre="Comptine Enfant"
		duration="3:22"
		tag="Anniversaire Enfant"
		tagColor="anniversaire-enfant"
		audioSrc="/music/aby-princess.mp3"
		audioType="mp3"
		coverClosed="/images/covers/aby-closed.png"
		coverOpened="/images/covers/aby-opened.png"
		useCaseUrl="/cas-usage/aby-princess"
	/>

	<!-- 10. Ben Chelanou - Anniversaire Enfant -->
	<ProductionCard 
		audioId="10"
		title="Ben Chelanou"
		genre="World Music"
		duration="4:05"
		tag="Anniversaire Enfant"
		tagColor="anniversaire-enfant"
		audioSrc="/music/ben-chelanou.mp3"
		audioType="mp3"
		coverClosed="/images/covers/ben-chelanou-closed.png"
		coverOpened="/images/covers/ben-chelanou-opened.png"
		useCaseUrl="/cas-usage/ben-chelanou"
	/>

	<!-- 11. Un Gars Génial - Anniversaire Enfant -->
	<ProductionCard 
		audioId="11"
		title="Un Gars Génial"
		genre="Pop Rock"
		duration="3:12"
		tag="Anniversaire Enfant"
		tagColor="anniversaire-enfant"
		audioSrc="/music/un-gars-genial.mp3"
		audioType="mp3"
		coverClosed="/images/covers/un-gars-genial-closed.png"
		coverOpened="/images/covers/un-gars-genial-opened.png"
		useCaseUrl="/cas-usage/un-gars-genial"
	/>

</div>
